<p>Hello <%= @estimate.tenant_customer&.full_name || @estimate.first_name %>,</p>
<p>This email confirms that you have declined Estimate ##<%= @estimate.id %>.</p>
<p>If this was a mistake, please contact us. We appreciate your consideration.</p>
<p>Thank you.</p> 