<p>A change has been requested for Estimate ##<%= @estimate.id %>.</p>
<p>Customer: <%= @estimate.tenant_customer&.full_name || @estimate.first_name %></p>
<p>Message:</p>
<p><%= simple_format(@message) %></p>
<p>You can view the estimate here: <%= link_to 'View Estimate', business_manager_estimate_url(@estimate, host: "#{@estimate.business.subdomain}.#{Rails.application.config.main_domain}") %></p> 