<h1>Editing Service: <%= @service.name %></h1>

<%= render 'form', service: @service %>

<%= link_to 'Show', business_manager_service_path(@service), class: "text-blue-600 hover:text-blue-800 mr-2" %> |
<%= link_to 'Back', business_manager_services_path, class: "text-blue-600 hover:text-blue-800 ml-2" %>
