<h1>Editing Service: <%= @service.name %></h1>

<%= render 'form', service: @service %>

<%= link_to 'Show', manage_service_path(@service), class: "text-blue-600 hover:text-blue-800 mr-2" %> |
<%= link_to 'Back', manage_services_path, class: "text-blue-600 hover:text-blue-800 ml-2" %>
