<script src="https://js.stripe.com/v3/"></script>
<%= form_with url: tenant_payments_path, method: :post, id: "payment-form", local: true do |form| %>
  <%= hidden_field_tag :invoice_id, @invoice.id %>
  <div id="card-element"></div>
  <button id="submit">Pay $<%= @invoice.total_amount %></button>
<% end %>
<script>
  const stripe = Stripe('<%= @stripe_publishable_key %>');
  const elements = stripe.elements();
  const card = elements.create('card');
  card.mount('#card-element');

  const form = document.getElementById('payment-form');
  form.addEventListener('submit', async e => {
    e.preventDefault();
    const { paymentMethod, error } = await stripe.createPaymentMethod('card', card);
    if (error) {
      alert(error.message);
    } else {
      // Attach to form and submit
      const hiddenInput = document.createElement('input');
      hiddenInput.setAttribute('type', 'hidden');
      hiddenInput.setAttribute('name', 'payment_method_id');
      hiddenInput.setAttribute('value', paymentMethod.id);
      form.appendChild(hiddenInput);
      // Remove event listener to prevent infinite loop
      form.removeEventListener('submit', arguments.callee);
      // Submit the form
      form.submit();
    }
  });
</script>
